{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <h1>Lista de Shows</h1>
    {% if user.groups.all.0.name == "admins" or user.groups.all.0.name == "support" %}
    <div class="py-3 d-flex justify-content-end">
      <a href="{% url 'add_show' %}" class="btn btn-primary">Adicionar Show</a>
    </div>
  {% endif %}
    <div class="row">
      {% for show in shows %}
      <div class="col-3">
        <div class="card mt-3" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{ show.name }}</h5>
            <p class="card-text">
                <b>Date: </b> {{ show.date|date:"d/m/Y H:i" }}
            </p>
            <p class="card-text">
                <b>Cidade: </b> {{ show.city }}
            </p>
            <p class="card-text">
                <b>Banda: </b> {{ show.band }}
            </p>
          {{ user.groups.all.0.name }}
              {% if user.groups.all.0.name == "admins" or user.groups.all.0.name == "support" %}
                <div class="d-grid gap-2 d-block">
                  <a
                    href="{% url 'edit_show' show.id %}"
                    class="btn btn-primary btn-block">
                    Editar
                  </a>
                  <a
                     href="{% url 'delete_show' show.id %}"
                     class="btn btn-danger btn-block">
                     Remover
                  </a>
                </div>
              {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}

{% endblock %}